<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />
<body>
	<div th:replace="common/header :: navbar"></div>
	<div class="container-fluid">
	   <div class="aboutus">

		<h1 style="margin:30px 0;">About Us...</h1> 
		<p>My name is Mohd Faiz and I am a Btech CS Student.
		I developed this website for my Minor Project.</p>
		</div>


	</div>
	<div th:replace="common/header :: footer"></div>

	<div th:replace="common/header :: body-bottom-scripts"></div>

</body>
</html>