
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar"></div>

	<hr
		style="height: 2px; border-width: 0; color: gray; background-color: black">
	<div class="container">
		<div>
			<div class="section-headline">
				<span>USER ACCOUNT</span>
			</div>
			<hr
				style="margin-top: -20px; height: 2.5px; border-width: 0; color: gray; background-color: black" />
		</div>

		<div class="row" style="margin-top:10px">
			<div class="col-xs-9 col-xs-offset-3">
				<h5>Bad request. The request path is invalid. Click <a th:href="@{/}">here</a> to return to the home page.</h5>
			</div>
		</div>
	</div>
	<!-- end of container -->
<div th:replace="common/header :: footer"></div>

	<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>
