
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar"></div>

	<hr
		style="height: 2px; border-width: 0; color: gray; background-color: black">
	<div class="container">
		<div>
			<div class="section-headline">
				<span>USER ACCOUNT</span>
			</div>
			<hr
				style="margin-top: -20px; height: 2.5px; border-width: 0; color: gray; background-color: black" />
		</div>
	

		<div class="row" style="margin-top: 10px;">
			<div class="col-sm-12">
				<div class="alert alert-success">
					<h3>
						<i class="fa fa-check" aria-hidden="true"
							style="color: limegreen;"></i> Thank you, your order has been
						placed.
					</h3>
					<h4>
						The estimated delivery date is <span
							th:text="${estimatedDeliveryDate}"></span>
					</h4>
				</div>

				<h3>List of Items</h3>
				<div class="row" th:each="cartItem : ${cartItemList}">
					<hr
		style="height: 2px; border-width: 0; color: gray; background-color: black">
					<div class="col-sm-2"></div>
					<div class="col-sm-2">

						<a th:href="@{/jewelleryDetail(id=${cartItem.jewellery.id})}"> <img
							class="img-responsive list-jewellery"
							th:src="#{adminPath}+@{/image/jewellery/}+${cartItem.jewellery.id}+'.png'"
							style="width: 100px;" />
						</a>
					</div>
					<div class="col-sm-6">
						<div style="margin-left: 50px;">
							<a th:href="@{/jewelleryDetail?id=}+${cartItem.jewellery.id}">
							<h4	th:text="${cartItem.jewellery.title}"></h4></a>
						</div>
					</div>

					<div class="col-sm-2">
						<h5 style="color: #db3208; font-size: large;">
							$<span th:text="${cartItem.jewellery.Price}"
								th:style="${cartItem.jewellery.inStockNumber}==0? 'text-decoration: line-through' : ''"></span>
						</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end of container -->
<div th:replace="common/header :: footer"></div>

	<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>
